<!DOCTYPE html>
<html class="wrapper">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <form id="form" method="GET" class="form-grid" action="/contact" class="form-grid" >
            <input type="text" name="nom" id="nom" placeholder="Nom">
            <input type="text" name="prenom" id="prenom" placeholder="Prenom">
            <input type="text" name="courriel" id="courriel" placeholder="Courriel">
            <input type="number" name="phone" placeholder="Téléphone" id="telephone">
        <select id="options" name="options">
        <option value="inscrip">Inscription</option>
        <option value="demande">Demande de formation</option>
      </select>
        <textarea name="champs" id="champs" placeholder="Vos demandes :"></textarea>
        <input id="soumettre" onclick="getValue();" type="submit" value="soumettre">
      </form>  
    </section>
  </body>
</html>
