<h1>{{title}}</h1>
<p>{{description}}</p><br><p>{{texte}}</p>


{{#each formation}}
<a href="/formation/{{formation.id}}"></a>
<h2>{{formation.nom}}</h2>
<h3>{{formation.description}}</h3>
<div>{{formation.cout}}</div>
</a>
{{/each}}