<h1></h1>
{{title}} <br>
{{description}} <br>

<a href="/"><h2>Formation MongoDB 1</h2></a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio facilis eum, ullam mollitia incidunt officia magni cum aliquid beatae iste impedit accusantium sapiente facere deleniti ipsum eaque, assumenda harum illo?</p>
<h5>100$ de l'heure</h5>

<a href="/"><h2>Formation MongoDB 2</h2></a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio facilis eum, ullam mollitia incidunt officia magni cum aliquid beatae iste impedit accusantium sapiente facere deleniti ipsum eaque, assumenda harum illo?</p>
<h5>200$ de l'heure</h5>

<a href="/"><h2>Formation MongoDB 3</h2></a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio facilis eum, ullam mollitia incidunt officia magni cum aliquid beatae iste impedit accusantium sapiente facere deleniti ipsum eaque, assumenda harum illo?</p>
<h5>300$ de l'heure</h5>

<a href="/"><h2>Formation MongoDB 4</h2></a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio facilis eum, ullam mollitia incidunt officia magni cum aliquid beatae iste impedit accusantium sapiente facere deleniti ipsum eaque, assumenda harum illo?</p>
<h5>400$ de l'heure</h5>

<a href="/"><h2>Formation MongoDB 5</h2></a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio facilis eum, ullam mollitia incidunt officia magni cum aliquid beatae iste impedit accusantium sapiente facere deleniti ipsum eaque, assumenda harum illo?</p>
<h5>500$ de l'heure</h5>
