<!DOCTYPE html>
<html class="wrapper">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/formation">Nos formations</a>
          <ul>
            <li><a href="/formmongo">Formations MongoDB</a></li>
            <li><a href="/formnode">Formations Nodejs</a></li>
          </ul>
        </li>
        <li><a href="/blog">Le blog</a></li>
        <li><a href="/contact">Nous contacter</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
