.wrapper{
  width: 1024px;
  margin: 0 auto;
}

body {
  padding: 50px;
  font-size: 15px;
  background-color: rgba(162, 162, 162, 0.5);
}

*{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
p{
  padding: 20px;
  font-weight: 100;
  margin: 0 55px;
}

h1, h2{
  padding: 5px;
  font-weight: 100;
  margin-top: 30px;
  color: #e29d9a;
}

h4{
  margin: 88px;
  display: inline-block;
  font-weight: 100;
}

h5{
  color: #fff;
  font-weight: 100;
}


/* barre de navigation */

nav{
  line-height: 40px;
}

a{
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  text-align: center;
}


li{
  display: inline-block;
  transition-duration: 0.2s;
}

ul {
  display: inline;
  padding-inline-start: 10px;
}


ul > li > a:hover,
ul > li > a:focus,
ul > li > a:active {
  color: #6B7D87;
}
  
ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
} 


ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  background-color: transparent;
}

ul li a:hover > ul,
ul li ul a:hover {
  color: rgba(126, 111, 97, 0.3);
}


::marker {
 color: transparent;
}


/* Le formulaire */

textarea {
  resize: none;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

/* .input_field_error{
  border:1px solid #ff0000;
  background-color: rgba(255, 59, 59, 0.329);
  color: red;
  font-family: Montserrat;
}

.error_list_none{
  display:none;
}

.the_error_visible{
  min-height: 100px;
  border:1px solid #ff0000;
  background-color: rgba(255,0,0,0.3);
  color: red;
  display: block;
  font-family: Montserrat;
} 

fieldset{
  display: inline;
}  */



.form-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 5px 1fr 200px 1fr;
  gap: 20px;
  box-shadow: 8px 8px 8px 8px rgba(170, 170, 170, 0.89);
  margin: 40px 200px;
  padding: 10px;
}


#nom{
  grid-row: 1;
}

#prenom{
  grid-row: 2;
}

#courriel{
  grid-row: 3;
}

#telephone{
  grid-row: 4;
}

#options, #demande{
  grid-row: 5;
  margin-top: 10px;
}


#champs {
  grid-row: 6;
  resize: none;
}

#soumettre {
  grid-row: 7;
  background-color: #e29d9a;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

::placeholder, select, input, label, textarea {
  font-family: montserrat;
  font-size: 16px;
  padding: 10px;
}
